<!doctype html>

<html class="no-js" lang="en">
    <head>  
    
        <%= render 'head' %>
    
    </head>
    <body class="main-body">
      
        <div class="wrapper">

            <%= render 'header' %>
            <div class="row">
                <div class="small-10 medium-8 small-centered columns">
                    <h3 class="titleCenter">Zaplings is currently in beta testing.</h3>
                    <p>To ensure an active community, we will begin admitting members one mission, or reason for meeting, at a time. Whenever a mission receives enough interest to maintain an ongoing conversation, members who share that mission will be invited to connect on the platform.</p>
                    <p>This means two things. First, you can improve your chances of being among the first users of Zaplings by selecting more missions. Second, you can speed up your invitation by introducing Zaplings to friends who share your missions.</p>
                    <div class="centerText three-halves-margin-top">
                        <button class="button round success small half-margin-bottom half-margin-right">Add missions</button>
                        <button class="button round light small">Suggest missions for a friend</button>
                    </div>
                </div>
            </div>
            
            <div class="push"></div>
        </div>
        
        <%= render "footer" %>
             
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        <%= render "end_scripts" %>
    </body>
</html>