<html lang="en">
    <head>
        <%= render 'head' %>
    </head>
    
    <body id="home">
        <div class="row">
            <div class="centerText small-12 medium-11 small-centered columns">
                <%= image_tag "home-logo", :class => "two-margin-top add-margin-bottom" %>
                <h2>Meet people for nearly any purpose.</h2>
            </div>
        </div>
        <form id="form-join" action="" method="post">
            <div class="row">
                <div class="centerText small-12 medium-10 small-centered columns">
                    <h3>Let's do something.</h3>
                    <div id="home-tags" class="two-margin-top">
                        <input id="home-tag-1" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-1">Make a friend</label>
                        <input id="home-tag-2" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-2">Protect nature</label>
                        <input id="home-tag-3" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-3">Create art</label>
                        <input id="home-tag-4" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-4">Start a business</label>
                        <input id="home-tag-5" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-5">Promote health</label>
                        <input id="home-tag-6" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-6">Share ideas</label>
                        <input id="home-tag-7" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-7">Make music</label>
                        <input id="home-tag-8" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-8">Have fun</label>
                        <input id="home-tag-9" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-9">Innovate tech</label>
                        <input id="home-tag-10" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-10">Make a film</label>
                        <input id="home-tag-11" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-11">Live simply</label>
                        <input id="home-tag-12" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-12">Support family</label>
                        <input id="home-tag-13" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-13">Promote peace</label>
                        <input id="home-tag-14" class="vis-hidden" type="checkbox" name="home-tag">
                            <label class="tag button small light round" for="home-tag-14">Something else</label>
                    </div>
                </div>
            </div>
            <div class="row"> 
                <div class="small-12 medium-8 columns medium-centered">
                    <div id="email-div" class="three-margin-top hidden"><button id="email-submit" type="submit" class="button round success">Let's do it</button>
                        <div id="home-email">
                            <input type="email" name="user-email" placeholder="Email address"/>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        
        <%= javascript_include_tag "foundation.min" %>
        
        <script type="text/javascript">
            $(document).ready(function() {
                $('#home-tags').change(function(){
                    if ($('input:checked').length > 0) {
                        $('#email-div').fadeIn();
                    }
                });
            });
        </script>

    </body>
</html>
        