<!doctype html>

<html class="no-js" lang="en">
    <head>  
    
        <%= render 'head' %>
    
    </head>
    <body class="main-body">
      
        <div class="wrapper">

            <%= render 'header' %>
            <div class="row">
                <div class="small-10 medium-8 small-centered columns">
                    <h4 class="titleCenter">Welcome to Zaplings, an online and real world community connected by shared purpose.</h4>
                    <h5 class="centerText">Whatever you want to do, find people who want to do it too. Because it's better that way.</h5>
                    <p class="three-halves-margin-top">Despite being home to billions, this world can be a pretty lonely place. Why do we feel so separate? Why is happiness so hard? Where are all the people who want the same things we want?</p>
                    <p>The reality is that despite all our technological prowess, we have not created a global meeting space. But we can and we should.</p>
                    <p>So how about a new place to meet anyone anywhere for nearly any reason?</p>
                    <div class="centerText">
                        <button class="button round success">Okay</button>
                    </div>
                </div>
            </div>
            
            <div class="push"></div>
        </div>
        
        <%= render "footer" %>
             
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        <%= render "end_scripts" %>
    </body>
</html>