<!doctype html>

<html class="no-js" lang="en">
    <head>  
    
        <%= render 'head' %>
    
    </head>
    <body class="main-body">
      
        <div class="wrapper">

            <%= render 'header' %>
            <div class="row">
                <div class="small-10 medium-8 small-centered columns">
                    <h3 class="titleCenter"></h3>
                </div>
            </div>
            
            <div class="push"></div>
        </div>
        
        <%= render "footer" %>
             
        <script type="text/javascript">
            $(document).foundation();
        </script>
        
        <%= render "end_scripts" %>
    </body>
</html>